.gallery-container{
	width: 100%;
}
.gallery-pic{
	width: 400px;
	height: auto;
	overflow: hidden;
	border: 5px solid white;
	border-radius: 3px;
	margin:50px 20px 0 2px;
	box-shadow: 8px 8px 14px rgba(0,0,0,0.46);
}